/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  body {
    --decorated-elements-color: #353430;
    --titels-text-color: #353430;
    --title-color: #FFC2E6;
    --text-backing: #FF8DCB;
    --text-color: #353430;
    --link-hover-focus-border-color: #353430;
    --header-hover-focus-border-color: #32312D66;
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    }
}

.page.theme_light {
  --decorated-elements-color: #353430;
  --titels-text-color: #353430;
  --title-color: #FFC2E6;
  --text-backing: #FF8DCB;
  --text-color: #353430;
  --link-hover-focus-border-color: #353430;
  --header-hover-focus-border-color: #32312D66;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
}

.page.theme_light .title-decor {
  color: #353430;
}

.page.theme_light .rec {
  display: none;
}